{% extends 'base.html' %}

{% block title %} {{ data }} {% endblock %}

{% block content %} 

<div class = "container text-center">
<h1 class = "align-items-center">Лабораторна робота №3</h1>
<h3 class = "align-items-center">{{ title }}</h3>

{% for form in forms %}

<div class="card text-center">
    <div class="card-header ">
        <h3>Form №{{ loop.index }}</h3>
    </div>
    <div class = "card-body">
        <p>Name: {{ form.name }}</p>
        <p>Surname: {{ form.surname }}</p>
        <p>Birth date: {{ form.dateborn }}</p>
        <p>Group: {{ form.group }}</p>
        <p>Email: {{ form.email }}</p>
        <p>Coorporate email: {{ form.coorp_email }}</p>
    </div>
</div>

{% endfor %}

</div>

{% endblock %}