{% extends 'base.html' %}

{% block title %} {{ data }} {% endblock %}

{% block content %}

<div class="container">
    <span class = text-center>
        <h1>Лабораторна робота №3</h1>
        <h3>{{ title }}</h3>
    </span>
    <ol>
        <li>
            Встановити віртуальне середовище у папці surname_project. Встановити Flask та провести початкові налаштування.
        </li>
        <li>
            Розробити статичний сайт-портфоліо про Вас, що містить принаймні 3 сторінки з навігацією у тегу nav.<br>
            Добавити свої стилі CSS (наприклад app/static/css/main.css) та підключити Bootstrap, за бажання JS.<br>
            Використати деякий Bootstrap-шаблон як базовий, html-сторінки наслідувати від нього за допомогою блоків.<br>
            Меню nav на всіх сторінках включити за допомогою include.<br>
            Заголовки сторінок повиннні динамічно змінюватись відповідно до їх змісту.<br>
            У коді шаблоні однієї з сторінок повині міститись приклади роботи циклу for, в іншій оператора if<br>
        </li>
        <li>
            У футері сторінок виведіть інформацію про вашу операційну систему (використати модуль os), дані user_agent (використати модуль request), версію Python і поточний час (не прописувати вручну)
        </li>
        <li>
            Протестувати. Зробити скріни виконання і посилання на код.
        </li>
    </ol>
</div>

{% endblock %}